/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body{
    width: 1280px;
    margin: 0 auto;
    padding-top:20px;
}

.container{
    margin: 0 auto;
    width: 960px;
    background-color: #fff;
    padding-bottom: 50px;
}


h1{
 color:#4aaaa5;
 font-family: 'Georgia', Times, Times New Roman, serif; 
 font-size: 20px; 
 font-weight: bold; 
}

p{
 color: #777777;   
 font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 padding-top: 20px;
}


nav{
    border-bottom: 1px solid #cccccc;
    height:50px;
    margin-bottom:50px;
}

ul{
    list-style: none;
    text-align: center;
}

li {
    color: #777777;
    display: inline;
    border-right: 1px solid #cccccc;
    width: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 
}
li:first-child {
    border-right: none;
}

li:last-child {
    border-right: none;
}

#name{
    float: left;
    font-weight: bold;
    width: 120px;
    background-color: #4aaaa5;
    color: #fff;
    font-size: 20px;
    height: 50px;
    margin-left: 150px;
}

#about{
    padding-left: 450px;
    font-weight: bold;
}

footer{
    background-color: #666666;
    height: 30px;
    border-top: 3px solid #4aaaa5;
    text-align: center;
    padding-top:15px;
    color: #fff;
    font-size: 12px;
}